* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}
body {
    background-image: url('bg.png');
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}
header {
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
    letter-spacing: 4px;
}
headermin {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.social-icons a {
    color: #fff;
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
    opacity: 0.9;
}
.social-icons a:hover {
    transform: scale(1.1);
}

a {
    color: #ffffff;
    text-decoration: none;
}
p {
    padding: 0.5em;
}
footer {
    margin-top: 20px;
    opacity: .75;
}